[submodule "arvo"]
	path = arvo
	url = https://github.com/urbit/arvo
[submodule "urbit"]
	path = urbit
	url = https://github.com/urbit/urbit
[submodule "urb-py"]
	path = cli-urb
	url = https://github.com/urbit/urb
